<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Details</title>

</head>
<body>
    name:{{user.user_name}}
    Homestay name:{{host.homestay_name}}
    homestay contact:{{host.phone_no}}
    number of rooms booked:{{book.no_of_room}}
    number of guests:{{book.no_of_guest}}
    arrival:{{book.date_ar}}
    leaving:{{book.date_l}}
</body>
</html>