<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uttarpradesh</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

        :root {
            --orange: #ffa500;
        }

        * {
            font-family: 'Nunito', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-transform: capitalize;
            outline: none;
            border: none;
            text-decoration: none;
            transition: all .2s linear;
        }

        *::selection {
            background: var(--orange);
            color: #fff;
        }

        html {
            font-size: 62.5%;
            overflow-x: hidden;
            scroll-padding-top: 6rem;
            scroll-behavior: smooth;
        }

        section {
            padding: 2rem 9%;
        }

        .heading {
            text-align: center;
            padding: 2.5rem 0;
        }

        .heading span {
            font-size: 3.5rem;
            background: rgba(255, 165, 0, .2);
            color: var(--orange);
            border-radius: .5rem;
            padding: .2rem 1rem;
        }

        .heading span.space {
            background: none;
        }


        .uttarpradesh .box-container {

            gap: 1.5rem;
        }

        .uttarpradesh .box-container .box {

            border-radius: .5rem;
            padding: 1rem;
            text-align: justify;
            margin: 2rem;
        }


        .uttarpradesh .box-container .image-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            flex-direction: row;
            justify-content: center;

        }

        .uttarpradesh .box-container .image-container img {
            height: 250px;
            width: 335px;
        }

        .uttarpradesh .box-container .box i {
            padding: 1rem;
            font-size: 5rem;
            color: var(--orange);
        }

        .uttarpradesh .box-container .box h3 {
            font-size: 3rem;
            color: #333;
            text-align: center;
        }

        .uttarpradesh .box-container .box p {
            font-size: 2rem;
            color: #666;
            padding: 1rem 0;
        }

        .uttarpradesh .box-container .box:hover {
            box-shadow: 0 3rem 3rem rgba(6, 6, 6, 0.1);
        }
    </style>
</head>

<body>
    <section class="uttarpradesh" id="uttarpradesh">

        <h1 class="heading">
            <span>u</span>
            <span>t</span>
            <span>t</span>
            <span>a</span>
            <span>r</span>
            <span class="space"></span>
            <span>p</span>
            <span>r</span>
            <span>a</span>
            <span>d</span>
            <span>e</span>
            <span>s</span>
            <span>h</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <h3>INTRODUCTION -</h3>

                <p>Uttar Pradesh is a state in northern India. With over 200 million inhabitants, it is the most
                    populated state in India as well as the most populous country subdivision in the world. It was
                    established in 1950 after India had become a republic.The state is divided into 18 divisions and 75
                    districts, with the state capital being Lucknow, and Prayagraj serving as the judicial capital.
                    <br><br>
                    The two major rivers of the state, the Ganges and its tributary Yamuna, meet at the Triveni Sangam
                    in Prayagraj, a Hindu pilgrimage site. Other notable rivers are Gomti and Saryu. The forest cover in
                    the state is 6.1 per cent of the state's geographical area. The cultivable area is 82 per cent of
                    total geographical area and net area sown is 68.5 per cent of cultivable area. <br><br>
                    The state is bordered by Rajasthan to the west, Haryana, Himachal Pradesh and Delhi to the
                    northwest, Uttarakhand and an international border with Nepal to the north, Bihar to the east,
                    Madhya Pradesh to the south, and touches the states of Jharkhand and Chhattisgarh to the southeast.
                    It covers 240,928 km2 (93,023 sq mi), equal to 7.3% of the total area of India, and is the
                    fourth-largest Indian state by area. The economy of Uttar Pradesh is the third-largest state economy
                    in India with ₹17.05 lakh crore (US$220 billion) in gross domestic product and a per capita GSDP of
                    ₹65,431 (US$860)
                </p>
            </div>

            <div class="box">
                <h3>MUSIC &amp; DANCE -</h3>

                <p> With each district of Uttar Pradesh having its unique music and tradition, traditional folk music in
                    Uttar Pradesh has been categorised in three different ways including music transmitted orally, music
                    with unknown composers and music performed by custom. The popular folk music of Uttar Pradesh
                    includes sohar which is sung to celebrate the birth of a child, Kajari sung during the rainy season,
                    Ghazal, Thumri and Qawwali which is a form of Sufi poetry is popular in the Awadh region, Rasiya
                    (especially popular in Braj), which celebrate the divine love of Radha and Krishna. Khayal is a form
                    of semi-classical singing which comes from the courts of Awadh. Other forms of music are Biraha,
                    Chaiti, Chowtal, Alha, and Sawani. <br><br>
                    Kathak a classical dance form, owes its origin to the state of Uttar Pradesh. The dance form is
                    connected to classical Hindustani music where the rhythmic nimbleness of the feet is accompanied by
                    either Tabla or Pakhawaj. Ramlila is one of the oldest dramatic folk dance which depicts the life of
                    Lord Rama and is mainly performed during the Vijayadashami festival. Svanga is a dance drama of
                    semi-historical tales and ballads. Traditional dance and musical styles are taught at the Bhatkhande
                    Music Institute University in Lucknow, named after the musician Pandit Vishnu Narayan
                    Bhatkhande.[283] Four of the six schools of this dance form, Lucknow gharana, Ajrara gharana,
                    Farukhabad gharana and Benares gharana, are situated in Uttar Pradesh.
                </p>

                <div class="image-container">

                    <img src="/static/images/uttar_pradesh/music & dance/umd1.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/music & dance/umd2.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/music & dance/umd3.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/music & dance/umd4.webp"  alt="">
                    <img src="/static/images/uttar_pradesh/music & dance/umd5.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/music & dance/umd6.jpg"  alt="">                    

                </div>
            </div>

            <div class="box">
                <h3>FLORA &amp FAUNA -</h3>

                <p> The state has an abundance of natural resources. In 2011 the recorded forest area in the state was
                    16,583 km2 (6,403 sq mi) which is about 6.9% of the state's geographical area. In spite of rapid
                    deforestation and poaching of wildlife, a diverse flora and fauna continue to exist in the state.
                    Species in the state with respect to India, Uttar Pradesh is a habitat for 4.2% of all Algae, 6.4%
                    of Fungi, 6.0% of Lichens, 2.9% of Bryophytes, 3.3% of Pteridophytes, 8.7% of Gymnosperms, 8.1% of
                    Angiosperms. Several species of trees, large and small mammals, reptiles, and insects are found in
                    the belt of temperate upper mountainous forests. Medicinal plants are found in the wild and are also
                    grown in plantations. The Terai-Duar savanna and grasslands support cattle. Moist deciduous trees
                    grow in the upper Gangetic plain, especially along its riverbanks. This plain supports a wide
                    variety of plants and animals. The Ganges and its tributaries are the habitat of large and small
                    reptiles, amphibians, fresh-water fish, and crabs. Scrubland trees such as the Babool (Vachellia
                    nilotica) and animals such as the Chinkara (Gazella bennettii) are found in the arid Vindhyas.
                    Notable indigenous trees are the astringent Azadirachta indica, or neem, which is widely used in
                    rural Indian herbal medicine and the luxuriant Ficus religiosa, or peepul, consider the tree to be
                    sacred by Hindu and Jain ascetics as this is the tree under which Gautama Buddha is believed to have
                    attained enlightenment.
                </p>
                <div class="image-container">
                    <img src="/static/images/uttar_pradesh/flaura & fauna/uff1.jpg" alt="">
                    <img src="/static/images/uttar_pradesh/flaura & fauna/uff2.jpg" alt="">
                    <img src="/static/images/uttar_pradesh/flaura & fauna/uff3.jpg" alt="">
                    <img src="/static/images/uttar_pradesh/flaura & fauna/uff4.webp" alt="">
                    <img src="/static/images/uttar_pradesh/flaura & fauna/uff5.webp" alt="">
                    <img src="/static/images/uttar_pradesh/flaura & fauna/uff6.jpg" alt="">
                                       
                </div>
            </div>

            <div class="box">
                <h3>ECONOMY -</h3>

                <p>Agriculture is the leading occupation in Uttar Pradesh and plays a vital role in the economic
                    development of the state. In terms of net state domestic product (NSDP), Uttar Pradesh is the
                    second-largest economy in India after Maharashtra, with an estimated gross state domestic product of
                    ₹14.89 lakh crore (US$200 billion), and hence contributes 8.4% of India. According to the report
                    generated by India Brand Equity Foundation (IBEF), in 2014–15, Uttar Pradesh has accounted for 19%
                    share in the country's total food grain output.[189] The state has experienced a high rate of
                    economic growth in the past few years. Food grain production in the state in 2014–15 stood at
                    47,773.4 thousand tonnes. Wheat is the state's principal food crop and sugarcane is the main
                    commercial crop particularly in Western Uttar Pradesh.[190] About 70% of India's sugar comes from
                    Uttar Pradesh. Sugarcane is the most important cash crop as the state is country's largest producer
                    of sugar.[189] As per the report generated by Indian Sugar Mills Association (ISMA), total sugarcane
                    production in India was estimated to be 28.3 million tonnes in the fiscal ending September 2015
                    which includes 10.47 million tonnes from Maharashtra and 7.35 million tonnes from Uttar Pradesh
                </p>

                <div class="image-container">
                    <img src="/static/images/uttar_pradesh/economy/ue1.png"   alt="">
                       

                </div>
            </div>

            <div class="box">
                <h3>ARCHITECTURE -</h3>

                <p>The architecture of Uttar Pradesh demonstrates a diverse and eclectic combination of Buddhist, Hindu,
                    Indo-Islamic, and Indo-European architectural styles. Three of its architectural monuments—the Taj
                    Mahal, the Agra Fort, as well as the township of Fatehpur Sikri founded by the Mughal emperor
                    Akbar—are designated UNESCO World Heritage Sites. The architectural structures in Uttar Pradesh
                    include ancient Buddhist stūpas and vihāras, ancient Buddhist and Hindu monasteries, townships,
                    forts, palaces, temples, mosques, mausoleums, memorials, and other community structures. Uttar
                    Pradesh's architectural structures also include various Hindu temples, Ghats, etc. largely found in
                    ancient cities like Benares (Varanasi), Brindaban (Vrindavan), Mathura, and Prayagraj
                </p>

                <div class="image-container">
                    <img src="/static/images/uttar_pradesh/architecture/ua1.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/architecture/ua2.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/architecture/ua3.webp"  alt="">
                    <img src="/static/images/uttar_pradesh/architecture/ua4.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/architecture/ua5.jpg"  alt="">
                    <img src="/static/images/uttar_pradesh/architecture/ua6.webp"  alt="">
                       
                    
                </div>
            </div>

            <div class="box">
                <h3>FESTIVALS -</h3>

                <p>Diwali (celebrated between mid-October and mid-December) and Rama Navami are popular festivals in
                    Uttar Pradesh. Kumbh Mela, organised in the month of Maagha (February—March), is a major festival
                    held every twelve years in rotation at Allahabad on the river Ganges.[286] Lath mar Holi is a local
                    celebration of the Hindu festival of Holi. It takes place well before the actual Holi in the town of
                    Barsana near Mathura. Taj Mahotsav, held annually at Agra, is a colourful display of the culture of
                    the Braj area.[287] Ganga Mahotsav festival of Kartik Poornima celebrated fifteen days after Diwali.
                    Buddha Purnima, which marks the birth of Gautama Buddha, is a major Hindu and Buddhist festival,
                    while Christmas is celebrated by the minority Christian population. Other festivals are Eid-ul-Fitr,
                    Eid-ul-Adhaa/Bakreed, Vijayadashami, Makar Sankranti, Vasant Panchami, Ayudha Puja, Janmashtami,
                    Sardhana Christian Fair, Maha Shivaratri, Mahavir Janma Kalyanak, Ayurved Jhansi Mahotsav, Bārah
                    Wafāṭ, Chhath puja, Lucknow Mahotsav, Moharram, Kabob and Hanuman Jayanti.
                </p>

                <div class="image-container">
                    <img src="/static/images/uttar_pradesh/festivals/uf1.jpg" alt="">
                    <img src="/static/images/uttar_pradesh/festivals/uf2.jpg" alt="">
                    <img src="/static/images/uttar_pradesh/festivals/uf3.jpg" alt="">
                    <img src="/static/images/uttar_pradesh/festivals/uf4.jpeg" alt="">
                    <img src="/static/images/uttar_pradesh/festivals/uf5.jpg" alt="">
                    <img src="/static/images/uttar_pradesh/festivals/uf6.jpg" alt="">
                                           
                </div>

            </div>

            <div class="box">
                <h3>SPORTS &amp EDUCATION -</h3>

                <p>Traditional sports, now played mostly as a pastime, include wrestling, swimming, kabaddi, and
                    track-sports or water-sports played according to local traditional rules and without modern
                    equipment. Some sports are designed to display martial skills such as using a sword or 'Pata'
                    (stick). Due to lack of organised patronage and requisite facilities, these sports survive mostly as
                    individuals' hobbies or local competitive events. Among modern sports, field hockey is popular and
                    Uttar Pradesh has produced some of the finest players in India, including Dhyan Chand and, more
                    recently, Nitin Kumar and Lalit Kumar Upadhyay. <br><br>
                    Uttar Pradesh has a long tradition of education, although historically it was primarily confined to
                    the elite class and religious schools.[246] Sanskrit-based learning formed the major part of
                    education from the Vedic to the Gupta periods. As cultures travelled through the region they brought
                    their bodies of knowledge with them, adding Pali, Persian and Arabic scholarship to the community.
                    These formed the core of Hindu-Buddhist-Muslim education until the rise of British colonialism. The
                    present schools-to-university system of education owes its inception and development in the state
                    (as in the rest of the country) to foreign Christian missionaries and the British colonial
                    administration. Schools in the state are either managed by the government or by private trusts.
                    Hindi is used as a medium of instruction in most of the schools except those affiliated to the CBSE
                    or the Council for ICSE boards. Under the 10+2+3 plan, after completing secondary school, students
                    typically enroll for two years in a junior college, also known as pre-university, or in schools with
                    a higher secondary facility affiliated with the Uttar Pradesh Board of High School and Intermediate
                    Education or a central board. Students choose from one of three streams, namely liberal arts,
                    commerce, or science. Upon completing the required coursework, students may enrol in general or
                    professional degree programs. Some Uttar Pradesh schools, for example Delhi Public School (Noida),
                    La Martinière Girls' College (Lucknow), and Step by Step School (Noida) have been ranked among the
                    best schools in the country.
                </p>

            </div>


        </div>



    </section>


</body>

</html>